.services {
    background-color: var(--main-gray-color);
    padding: 40px 0;
}

.services__box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;
}

.services__header {
    color: white;
    text-align: left;
    display: block;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
    z-index: 5;
}

.services__item {
    
    cursor: pointer;
    background-color: #f8f8fa;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    margin: 20px 0;
    color: rgb(68, 68, 68);
    max-width: 295px;
    height: 300px;
    transition: all .3s ease-in-out;
}

.services__item:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 200px #fd563185;
    z-index: 5;
}

.services__item-name {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    font-size: 26px;
    height: 20px;
}

.services__item span {
    position: absolute;
    top: 0;
    color: transparent;
    font-weight: 900;
    font-size: 100px;
    -webkit-text-stroke: .5px #fd5631;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;

}

.services__item-description {
    margin-top: 90px;
    text-align: justify;
}

.services__item-btn {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    border: none;
    background-color: #fd5631;
    background-image: url('../../img/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    text-decoration: none;
    overflow: hidden;
}

.services__item-btn:hover {
    width: 100%;
    background-image: none;
}

.services__item-btn::before {
    content: 'ПОДРОБНЕЕ';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transition: all .3s ease-in-out;
    font-size: 20px;
    font-weight: 300;
}

.services__item-btn:hover::before {
    opacity: 1;
}