.main {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.main::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 400px;
    border: 1px solid #fd5631;
    bottom: 0;
    left: 25%;
    transform: rotate(-20deg);
    border-radius: 50%;
    z-index: -1;
}

.main::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 20%;
    left: 15%;
    /* background: rgb(0,96,99); */
    background: radial-gradient(circle, #fd5631 -210%, rgba(24, 24, 24, 0) 60%);
    z-index: -1;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main__head {
    text-align: left;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 300;
    max-width: 50%;
    text-transform: uppercase;
}

.main__services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 200px;
    /* flex-basis: 90%; */
}

.main__services {
    width: 400px;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    padding: 10px;
    border: .5px solid rgba(68, 68, 68, 0.153);
    backdrop-filter: blur(5px);
    transition: all .4s ease-in-out;
}

.main__services:nth-child(n+2) {
    margin-right: 50px;
}
.main__services:nth-child(n+3) {
    margin-right: 100px;
}
.main__services:nth-child(n+4) {
    margin-right: 150px;
}


.main__services:hover p {
    /* text-decoration: underline; */
    color: #fd5631;
}

.main__services:hover {
    cursor: pointer;
    background-color: #fd563111;
}

.main__services span{
    margin-right: 10px;
    color: transparent;
    font-weight: 900;
    font-size: 50px;

    -webkit-text-stroke: .5px #fd5631;

    -webkit-background-clip: text;
    background-clip: text;
}

.main__services p{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.main__btn {
    background-color: var(--main-orange-color);
    display: block;
    color: white;
    margin: 20px auto;
    width: max-content;
    /* margin-top: 60px; */
    padding: 20px;
    text-decoration: none;
}
