.project-page {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: flex-end;
    align-items: flex-start; */
}

.project-page__header {
    display: flex;
    flex-direction: row-reverse;
}

.project-page__name {
    margin: 20px 0;
    font-size: 30px;
}

.project-page__img {
    display: block;
    margin: 20px 0;
    max-width: 500px;
}

.project-page__info {
    text-align: right;
    padding-left: 100px;
}

.project-page__grid {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.project-page__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}