.project-page {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.project-page__name {
    margin: 20px 0;
    font-size: 30px;
}

.project-page__img {
    margin: 20px 0;
    max-width: 100%;
}