* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --main-orange-color: #fd5631;
  --main-gray-color: rgb(68, 68, 68);
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8fa;
  color: rgb(68, 68, 68);
  overflow-x: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
